.cursor-grab {
    cursor: grab;
}

.tasks {
    min-height: 450px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    height: 540px;
    overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.tasks::-webkit-scrollbar {
    display: none;
}

.kanban-col {
    background-color: #f4f4f4;
}

.buttonAddKanban {
    margin-top: 15px;
}